@font-face {
    font-family: "BookkMyungjo-Bd";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot");
    src:
        url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "KyoboHandwriting2020A";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ROEHOE-CHAN";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/ROEHOE-CHAN.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #baac92;
    border-radius: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #25130f;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
body {
    font-family: "BookkMyungjo-Bd";
    font-size: 24px;
    line-height: 36px;
    color: #25130f;
    word-break: keep-all;
    background: #25130f;

    button {
        font-family: "BookkMyungjo-Bd";
        font-size: 24px;
        line-height: 32px;
        color: #25130f;
        word-break: keep-all;
    }
}
.inpo {
    background-color: #e2d2b4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .line {
        position: relative;
        top: -20px;
        width: 53px;
        border: 1px solid #25130f;
    }
    > svg {
        width: 400x;
        height: 85px;
        margin: 192px 0 81px 0;
    }
    .content-button {
        padding-bottom: 100px;
    }
    .kr {
        margin-top: 102px;
        margin-bottom: 58px;
    }
    .en {
        margin-bottom: 60px;
        p:first-of-type {
            margin-bottom: 40px;
        }
    }
    .mail {
        width: 503px;
        height: 79px;
        background: #d0bf9f;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 103px;
        border-radius: 100px;
        line-height: 79px;
        span {
            position: relative;
            top: 4px;
            width: 24px;
            height: 24px;
            display: block;
            background: url("@/assets/image/main/forward_to_inbox.png") no-repeat;
            margin-right: 32px;
        }
    }
    ul {
        &::before {
            display: block;
            width: 399px;
            height: 43px;
            background: url("@/assets/image/text/text_top.png") no-repeat;
            content: " ";
            margin: auto;
            margin-bottom: 60px;
        }
        &::after {
            display: block;
            width: 399px;
            height: 43px;
            background: url("@/assets/image/text/text_bottom.png") no-repeat;
            content: " ";
            margin: auto;
            margin-top: 60px;
        }
    }

    .copy {
        opacity: 60%;
        margin: 92px 0 29px;
    }
    table {
        width: 913px;
        height: 166px;
        margin: auto;
        border: 1px solid #837a6e;
        border-left: none;
        border-right: none;
        line-height: 83px;
        th {
            background: #d9c39b;
            width: 50%;
            height: 83px;
            border-bottom: 1px solid #837a6e;
        }
        .left {
            border-left: 1px solid #837a6e;
        }
    }
}
.topImage {
    width: 1200px;
    height: 989px;
    margin: auto;
    background-color: #e2d2b4;
    z-index: 10;
    background: url("@/assets/image/top/00.png");
    &.kirkwall {
        background: url("@/assets/image/top/01.png");
    }
    &.chantry {
        background: url("@/assets/image/top/02.png");
    }
    &.hanged {
        background: url("@/assets/image/top/03.png");
    }
    &.anders {
        background: url("@/assets/image/top/04.png");
    }
    &.fenris {
        background: url("@/assets/image/top/05.png");
    }
    &.abi {
        background: url("@/assets/image/top/06.png");
    }
    &.varric {
        background: url("@/assets/image/top/07.png");
    }
    &.hawke {
        background: url("@/assets/image/top/08.png");
    }
    &.gallows {
        background: url("@/assets/image/top/09.png");
    }
}
.bottomImage {
    width: 1200px;
    height: 572px;
    background: url("@/assets/image/bottom/frame_bottom.png");
    margin: auto;
}

.content {
    padding-top: 26px;
    background: url("@/assets/image/frame/frame_middle.png");
    background-color: #e2d2b4;
    margin: auto;
    width: 1200px;

    z-index: 1;
    &-text {
        width: 908px;
        text-align: center;
        margin: 70px auto 0;
        padding: 0 0 70px;
        &-letter {
            font-family: "ROEHOE-CHAN";
            left: 0px;
            background: url("@/assets/image/book/book.png") no-repeat;
            width: 1051px;
            height: 768px;
            &::after {
                display: block;
                content: "";
                background: url("@/assets/image/book/pen.png") no-repeat;
                width: 211px;
                height: 718px;
                position: relative;
                top: -440px;
                left: 980px;
            }
            p {
                width: 528px;
                height: 465px;
                position: relative;
                top: 160px;
                left: 110px;
                transform: rotate(-3deg);
            }
        }
    }
    &-dialog {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
                width: 908px;
                margin: 20px 0;
                display: flex;
                align-items: top;
                justify-content: space-between;
            }
            &:not(.btLineNo_top)::before {
                display: block;
                width: 399px;
                height: 43px;
                background: url("@/assets/image/text/text_top.png") no-repeat;
                content: " ";
                margin-bottom: 60px;
            }
            &:not(.btLineNo_bottom)::after {
                display: block;
                width: 399px;
                height: 43px;
                background: url("@/assets/image/text/text_bottom.png") no-repeat;
                content: " ";
                margin-top: 60px;
            }
        }
        &-image {
            display: block;
            width: 910px;
            height: 498px;
            margin-top: 60px;
            margin: auto;

            &.cullen {
                background: url("@/assets/image/portrait_big/Property 1=cullen.png") no-repeat;
            }
            &.aveline {
                background: url("@/assets/image/portrait_big/Property 1=aveline.png") no-repeat;
            }
            &.varric {
                background: url("@/assets/image/portrait_big/Property 1=Varric.png") no-repeat;
            }
            &.gam {
                background: url("@/assets/image/portrait_big/Property 1=gamlen.png") no-repeat;
            }
        }
        &-text {
            width: 782px;
            padding: 30px 40px 40px;
            background: #c2b39a;
            border-radius: 4px;
            margin-left: 24px;

            &::before {
                display: block;
                width: 17.5px;
                height: 17.32px;
                position: relative;
                top: -20px;
                left: -47px;
                background: url("@/assets/image/text/textBox.png") no-repeat;
                content: " ";
            }
        }

        &-portrait {
            width: 114px;
            height: 100px;
            background-position: center;
            background-size: 80%;
            background: url("@/assets/image/portrait/Property 1=me.png") no-repeat;
            &.commander {
                background: url("@/assets/image/portrait/Property 1=knight.png") no-repeat;
            }
            &.templarA {
                background: url("@/assets/image/portrait/Property 1=templarA.png") no-repeat;
            }
            &.templarB {
                background: url("@/assets/image/portrait/Property 1=templarB.png") no-repeat;
            }
            &.gam {
                background: url("@/assets/image/portrait/Property 1=gamren.png") no-repeat;
            }
            &.abi {
                background: url("@/assets/image/portrait/Property 1=seller.png") no-repeat;
            }
            &.manA {
                background: url("@/assets/image/portrait/Property 1=manA.png") no-repeat;
            }
            &.manB {
                background: url("@/assets/image/portrait/Property 1=manB.png") no-repeat;
            }
            &.kidA {
                background: url("@/assets/image/portrait/Property 1=childA.png");
            }
            &.kidB {
                background: url("@/assets/image/portrait/Property 1=childA.png");
            }
            &.kidC {
                background: url("@/assets/image/portrait/Property 1=childA.png");
            }
            &.thiefA {
                background: url("@/assets/image/portrait/Property 1=thiefA.png");
            }
            &.thiefB {
                background: url("@/assets/image/portrait/Property 1=thiefB.png");
            }
            &.aveline {
                background: url("@/assets/image/portrait/Property 1=aveline.png");
            }
            &.varric {
                background: url("@/assets/image/portrait/Property 1=Varric.png");
            }
            &.cullen {
                background: url("@/assets/image/portrait/Property 1=cullen.png");
            }
        }
    }
    .love {
        button {
            letter-spacing: -0.6px;
        }
    }

    &-button {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 910px;
            height: 87px;
            background: url("@/assets/image/button/button.png") no-repeat;
            margin: 30px;
            text-align: left;
            padding-left: 50px;
            &:hover {
                color: #930000;
            }
            &:disabled {
                opacity: 0.6;
                color: #837a6e;
                &:hover {
                    color: #837a6e;
                    cursor: default;
                }
            }
        }

        &-ink {
            width: 346px;
            height: 109px;
            display: block;
            margin: auto;

            button {
                width: 100%;
                height: 100%;
                text-align: center;
                padding-right: 40px;
                background: url("@/assets/image/button/button_ink.png") no-repeat;
            }
        }
    }
    &-buttonBox {
        display: flex;
        justify-content: center;
        input {
            width: 441px;
            height: 138px;
            background: url("@/assets/image/button/button_input.png") no-repeat;
            outline: none;
            font-size: 24px;
            font-family: "BookkMyungjo-Bd";
            padding-left: 80px;
            margin-right: -80px;
            margin-top: 70px;
        }
    }
    .ending {
        width: 910px;
        margin: auto;
        padding: 80px 0 140px;
        .varric {
            font-size: 20px;
            text-align: right;
            &::before {
                display: block;
                width: 402px;
                height: 90px;
                background: url("@/assets/image/ending/varric.png") no-repeat;
                content: " ";
                position: relative;
                top: -26px;
            }
        }
        &-button {
            padding: 54px 0;
            border-top: 1px solid #baac92;
            border-bottom: 1px solid #baac92;
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                margin-right: 24px;
                display: inline-block;
                padding: 5px 52px;
                border-radius: 100px;
                background: #948072;
                color: #fff;
            }
        }
    }
    &-hint {
        border-top: 1px solid #25130f;
        width: 571px;
        position: relative;
        display: flex;
        justify-content: center;
        top: 35px;
        margin: auto;
        padding: 35px 0 80px;
        font-size: 18px;
        opacity: 60%;
        .ink {
            display: block;
            width: 36px;
            height: 54px;
            margin-right: 30px;
            background: url("@/assets/image/text/ink.png") no-repeat;
            content: " ";
        }
    }

    &-letter {
        font-family: "KyoboHandwriting2020A";
        background: url("@/assets/image/letter/letter.png") no-repeat;
        width: 910px;
        height: 626.183px;
        margin: auto;
        p {
            padding-top: 80px;
            width: 84%;
            margin: auto;
        }
        &-say {
            background: url("@/assets/image/letter/hawke_says.png") no-repeat;
            width: 197px;
            height: 83px;
            position: relative;
            left: 200px;
            top: -40px;
        }
    }
    &-letter-my {
        font-family: "KyoboHandwriting2020A";
        width: 911px;
        height: 266px;
        margin: auto;
        background: url("@/assets/image/letter/letter_cut.png") no-repeat;
        span {
            position: relative;
            top: 80px;
            left: 80px;
        }
    }
}

.mb70 {
    margin-bottom: 70px;
}
.mt70 {
    margin-top: 70px;
}
.mb90 {
    margin-bottom: 90px;
}
.mt90 {
    margin-top: 90px;
}
.pb70 {
    padding-bottom: 70px;
}
.pt70 {
    padding-top: 70px;
}
.mt26 {
    margin-top: 26px;
}
